Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
test/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
power-analysis/
src/.deps/
src/.libs/
src/.*
src/asimon
src/chipmunk
*.o
*.a
src/*.a
src/*.o
stamp-h1
*~
ltmain.sh
libtool
config/compile
config/config.*
m4/Makefile
m4/Makefile.in
igv.log
